{% extends "layouts/layout.html" %}

{% block content %}
		<div  class="tall-container"></div>
		<div class="container-fluid bg-adu-panel" style="z-index:2; margin-top: 55px">
			<h1 class="text-secondary" style="text-align:center;padding-bottom: 10px">ARCHIVES</h1>
			<hr>
			<form id='search' action="{{url_for('archives')}}">
			<div class="d-lg-flex d-md-inline-flex justify-content-between no-wrap layer_02" style="width:100%; margin-top:10px">
				<div class=" order-md-1">
					<div class="input-group">
						<div class="input-group-prepend">
							<button type="button" class="btn btn-primary " data-toggle="collapse" data-target="#advanced_search" aria-expanded="false" aria-controls="advanced_search">
								More Options &#8964
							</button>
							<button class="btn btn-primary">Search</button>
						</div>
						<input type="text" name="q" class="form-control">
					</div>
					
				</div>
				<div class="order-0">
					<a class="btn btn-danger text-white sm-full-width"  href="{{ url_for('view_logs') }}"> Back To Logs</a> 
				</div>
				<div class="order-3 sm-full-width">
						<ul class="pagination " id="pages">
							<li class="page-item {{ '' if post.has_next else 'disabled' }}">
								<a class="page-link" href="{{ url_for('archives', page=page+1, per_page=post.per_page)}}">Next</a>
							</li>
							
							{% for page_num in pagination.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
								{% if page_num %}
									{% if page == page_num %}
										<li class="page-item active">
											<a class="page-link" href="{{ url_for('archives', page=page_num, per_page=post.per_page)}}">{{ page_num }}</a>
										</li>
									{% else %}	
										<li class="page-item">
											<a class="page-link" href="{{ url_for('archives', page=page_num, per_page=post.per_page)}}">{{ page_num }}</a>
										</li>
									{% endif %}
								{% else %}
								...
								{% endif %}
							{% endfor %}
							
							<li class="page-item {{ '' if post.has_prev else 'disabled' }}">
								<a class="page-link" href="{{ url_for('archives', page=page-1, per_page=post.per_page)}}">Previous</a>
							</li>
						</ul>
				</div>
			</div>
			<div class="collapse " id="advanced_search">
				<div class="row">
					<div class="col">
						<div class="d-flex">
							<h4><b>Search Options</b></h4>
							<a class=" text-primary pt-1 pl-3"  href="{{ url_for('archives') }}"> Reset Search Options </a> 
						</div>
						<hr/>
						<div class="row" style="">
							<div class="col">
								<h6 class="text-muted">Records Per Page</h6>
								<select class="form-control-md" type="int" name="pp" id="PerPage">
								  <option {{ 'selected' if pp == 10 }}>10</option>
								  <option {{ 'selected' if pp == 15 }}>15</option>
								  <option {{ 'selected' if pp == 20 }}>20</option>
								  <option {{ 'selected' if pp == 30 }}>30</option>
								</select>
							</div>
							<div class="col">
								<h6 class="text-muted">Order In</h6>
								<select class="form-control-md" type="int" name="ob" id="stype">
									<option {{ 'selected' if ob == "asc" }} value="asc">Ascending Order</option>
									<option {{ 'selected' if ob == "desc" }} value="desc">Descending Order</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col">
						<h4 class="pb-2"><b>Filter Options</b></h4>
						<hr/>
						<div class = "row">
							<div class="col-4">
								<h6 class="text-muted">Show Record Type</h6>
								<select class="form-control-md" type="int" name="sr" id="stype">
									<option {{ 'selected' if show_type == "both" }} value="both">Both</option>
									<option {{ 'selected' if show_type == "sent" }} value="sent">Sent</option>
									<option {{ 'selected' if show_type == "rec" }} value="rec">Receive</option>
								</select>
							</div>
							<div class="col-8">
								<h6 class="text-muted">Between The Dates Of</h6>
								<div class="form-check form-check-inline">
									<input type="date" name="da" value={{ dates[1] }}>
									
								</div>
								<div class="form-check form-check-inline">
									<input type="date" name="db" value={{ dates[0] }}>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
			</form>
	
			<div style="overflow: auto; ">
				<table class="table modded" style="margin-top: 10px;">
					<thead>
						<tr class="modded">
							<th class="text-white" scope="col" >Date</th>
							<th class="text-white" scope="col" >File/Code</th>
							<th class="text-white" scope="col" >Communication</th>
							<th class="text-white" scope="col" >Subject</th>
							<th class="text-white" scope="col" >Sent By</th>
							<th class="text-white" scope="col" >Received By</th>
							<th class="text-white" scope="col" >Processed By</th>
							<th class="text-white" scope="col" >Communication Type</th>
											
						</tr>
					</thead>
					<tbody>
						{% for post in post %}
						<tr class="bg-adu-component" style="margin-bottom:50px; border-width: 2px" data-toggle="modal" data-target="#recordModal">
								<td data-label="Date">{{ post.datetime }}</td>
								<td data-label="File/Code">{{ post.code }}</td>
								<td data-label="Communication">{{ post.name }}</td>
								<td data-label="Subject">{{ post.subject }}</td>
								<td data-label="Sent By">{{ post.sent_by }}</td>
								<td data-label="Received By">{{ post.received_by }}</td>
								<td data-label="Processed By">{{ post.processed_by }}</td>
								<td data-label="Type"><p style="text-transform: uppercase" class="{{ 'text-info' if post.comm_type == 'received' else 'text-primary' }}">{{ post.comm_type }}</p></td>
							
						</tr>

						<!-- Modal -->
						<div class="modal fade" id="recordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">Record</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body mod_bod">
										<div class="row">
											<div class="col">
												<b>Date</b>
											</div>
											<div class="col">
												<p>{{ post.datetime }}</p>
											</div>
										</div>
										<div class="row">
											<div class="col">
												<b>File/Code</b>
											</div>
											<div class="col">
												<p>{{ post.code }}</p>
											</div>
										</div>
										<div class="row">
											<div class="col">
												<b>Communication</b>
											</div>
											<div class="col">
												<p>{{ post.name }}</p>
											</div>
										</div>
										<div class="row">
											<div class="col">
												<b>Subject</b>
											</div>
											<div class="col">
												<p>{{ post.subject }}</p>
											</div>
										</div>
										<div class="row">
											<div class="col">
												<b>Sent By</b>
											</div>
											<div class="col">
												<p>{{ post.sent_by }}</p>
											</div>
										</div>
										<div class="row">
											<div class="col">
												<b>Received By</b>
											</div>
											<div class="col">
												<p>{{ post.received_by }}</p>
											</div>
										</div>
										<div class="row">
											<div class="col">
												<b>Processed By</b>
											</div>
											<div class="col">
												<p>{{ post.processed_by }}</p>
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}

					</tbody>
				</table>
			</div>




			<hr/>
			
		</div>
		

	
{% endblock %}