{% extends "layouts/layout.html" %}
{% block content%}

<div class="content-section container" style="padding: 90px;" >
	<div class="container background-grey small-content" style="padding:100px">
		<form method="POST">
			{{ form.hidden_tag() }}
			<legend >New password for <b>{{ username }} </b></legend>
			<hr />
			<fieldset class="form-group">
				<div class="form-group col">
					{{ form.password.label(class="form-control-label font-italic") }}

					{% if form.password.errors %}
						{{ form.password(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.password.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>	
					{% else %}						
						{{ form.password(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group col">
					{{ form.password_confirm.label(class="form-control-label font-italic") }}

					{% if form.password_confirm.errors %}
						{{ form.password_confirm(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.password_confirm.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>	
					{% else %}						
						{{ form.password_confirm(class="form-control form-control-lg") }}
					{% endif %}
				</div>
			</fieldset>
			<a href="{{ url_for('manage_users') }}" class="btn btn-dark">Back</a>
			{{ form.submit(class="btn btn-success") }}
		</form>

	</div>
</div>

{% endblock %}