{% extends "layouts/layout.html" %}

{% block head %}
<link href="{{url_for('static', filename = 'css/report_page.css')}}" rel="stylesheet" media="print">
{% endblock %}

{% block content %}
<div class="tall-container"></div>
<div class="container-fluid report_boxes">
	<div class="row pt-4 pl-4">
		<div class="col d-flex">
			
			<a class="btn btn-danger mr-4" href="{{ url_for('view_logs') }}">Go Back</a>
			<h3 class="text-secondary pl-3">Reports</h3>
			
		</div>
		<div class="col-2"></div>
		<div class="col">
			
				<div class="col d-flex">
					<form id='search_date' action="{{url_for('generate_reports')}}">
						<label for="report_date" class="pt-2">For Date</label>
						<input type="date" id="report_date" value={{ date }} name="report_date" onchange="post_generate_data()">
					</form>
					<button class="btn btn-primary ml-1" onclick="printFunction()"> Print</button>
				</div>
			
		</div>
	</div>
	<hr>
	<div id="printable" >
		
		<div class="print_header container-fluid">
			<div class="d-flex justify-content-center" style="margin-bottom: 5px">
				<img src="{{url_for('static', filename = 'image/l-sciences.jpg')}}" width='100px' height='100px'>
				<div>
					<h4 class="login-text text-center">College Of Science Department</h2>
					<h4 class="login-text text-center">Adamson University</h2>
					<h5 class="login-text text-center">900 San Marcelino Street. Ermita, 1000 Manila</h2>
				</div>
				<img src="{{url_for('static', filename = 'image/adulogo.jpg')}}" width='100px' height='100px'>
			</div>
		</div>
		{% if not posts %}
			
			<h4 class="text-center "><b>No Records Found For This Date</b></h4>
		{% else %}
		<table class="table print_table">
			<thead>
				<tr>
					<th scope="col">Date</th>
					<th scope="col">Title</th>
					<th scope="col">File Code</th>
					<th scope="col">Sender</th>
					<th scope="col">Receiver</th>
					<th scope="col">Comm Type</th>
				</tr>
			</thead>
			<tbody>
			{% for post in posts %}
				
					<tr  style="border-width: 2px">
						<td >{{ post.datetime }}</td>
						<td >{{ post.subject }}</td>
						<td >{{ post.code }}</td>
						<td >{{ post.sent_by }}</td>
						<td >{{ post.received_by }}</td>
						<td ><p style="text-transform: uppercase">{{ post.comm_type }}</p></td>
					</tr>
				
			{% endfor %}
			</tbody>
		{% endif %}
	
		</table>
	</div>

</div>

{% endblock %}