{% extends "layouts/layout.html" %}
{% block content %}
<div  class="tall-container"></div>
<div class="container-fluid" style="margin-top: 60px">
	<form method="POST" action="">	
		<div class=" d-flex">
			<div class="order-0">
				<a class="btn btn-info text-white sm-full-width"  href="{{ url_for('view_logs') }}"> Back </a> 
				{{ form.submit(class="btn btn-success sm-full-width") }}
			</div>
			<div class="col-9 container" id="advanced_search" >
				
				{{ form.hidden_tag() }}
				<fieldset class="form-group">
					<div class="row">
						<div class="form-group form-inline mr-4">
							{{ form.code.label(class="form-control-label mr-3") }}
							{% if form.code.errors %}
								{{ form.code(class="form-control is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.code.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>	
							{% else %}						
								{{ form.code(class="form-control") }}
							{% endif %}
						</div>
						<div class="form-group form-inline">
							{{ form.name.label(class="form-control-label mr-3") }}
							{% if form.name.errors %}
								{{ form.name(class="form-control is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.name.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>	
							{% else %}						
								{{ form.name(class="form-control") }}
							{% endif %}
						</div>
						
						{% if update == True %}
						<a href="{{ url_for('manage_codes') }}" class="btn btn-danger"  style="margin-left: 10px; margin-top:30px; margin-bottom: 15px">Cancel</a>
						{% endif %}
					</div>
				</fieldset>
				
			</div>
		</form>
	</div>
	<div style="overflow: auto; ">
		<table class="table" style="margin-top: 10px;">
			<thead>
				<tr>
					<th scope="col" style="width:15%">File/Code</th>
					<th scope="col" style="width:70%">Information</th>
					<th scope="col" style="width:15%"> Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for code in codes %}
				<tr class="bg-adu-component" style="padding-top:0px; border-width: 4px" border="2px ">
					<td >{{ code.code }} </td>
					<td>{{ code.name }}</td>
					<td>
						<a class="text-info"  style = "padding-right:15px"href="{{ url_for('update_code', code_id=code.code) }}">modify</a>
						<a class="text-danger"  href="#" data-toggle="modal" data-target="#{{ code.code }}"> delete </a>
					</td>
				</tr>
				<div class="modal fade" id="{{ code.code }}" tabindex="-1" role="dialog" aria-labelledby="confirm" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="confirm">Confirm Deletion</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								Are you sure you want to delete this?
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								<form action="{{ url_for('code_delete', code_id=code.code) }}" method="POST">
									<input type="submit" class="btn btn-danger" value="Delete">
								</form>

							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</tbody>
		</table>
</div>
{% endblock %}