{% extends "layouts/layout.html" %}

{% block content %}

	<div class="tall-container"></div>
	<div class="container-fluid mt-5" >
		<div class="d-lg-flex d-md-inline-flex justify-content-between layer_02">
			<div class="order-md-1">
				<h4 class="text-center">Viewing Document</h4>
			</div>
			<div class="order-md-0">
				<a class="btn btn-danger text-white sm-full-width"  href="{{ url_for('view_logs') }}"> Back To Logs</a> 
			</div>
			
			<div class="order-md-3">
				<a class="btn btn-success text-white sm-full-width" href="{{ url_for('get_file', filename=image_name) }}" download>
				 	Download Document
				</a> 
			</div>
			
		</div>
		<hr>
		<div class="d-flex justify-content-center" style="background-color: grey">
			<img src="{{ url_for('get_file', filename=image_name) }}" style="width:70%">
		</div>
	</div>



{% endblock %}