{% extends "layouts/layout.html" %}

{% block content %}
<div  class="tall-container"></div>
<div class="container-fluid" style="">
	<form id='search' action="{{url_for('view_logs')}}">
	<div class="d-lg-flex d-md-inline-flex justify-content-between no-wrap layer_02" style="width:100%; margin-top:10px">
		<div class=" order-md-1">
			<div class="input-group">
				<div class="input-group-prepend">
					<button type="button" class="btn btn-primary " data-toggle="collapse" data-target="#advanced_search" aria-expanded="false" aria-controls="advanced_search">
						More Options &#8964
					</button>
					<button class="btn btn-primary">Search</button>
				</div>
				<input type="text" name="q" class="form-control" value={{ q }}>
			</div>
			
		</div>
		<div class="order-0">
			<a class="btn btn-success text-white sm-full-width"  href="{{ url_for('new_record') }}"> New Record </a> 
			<a class="btn btn-info text-white sm-full-width"  href="{{ url_for('manage_codes') }}"> Manage File Codes </a> 
		</div>
		<div class="order-3 sm-full-width">
				<ul class="pagination " id="pages">
					<li class="page-item {{ '' if post.has_next else 'disabled' }}">
						<a class="page-link" href="{{ url_for('view_logs', page=page+1, per_page=post.per_page)}}">Next</a>
					</li>
					
					{% for page_num in pagination.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
						{% if page_num %}
							{% if page == page_num %}
								<li class="page-item active">
									<a class="page-link" href="{{ url_for('view_logs', page=page_num, per_page=post.per_page)}}">{{ page_num }}</a>
								</li>
							{% else %}	
								<li class="page-item">
									<a class="page-link" href="{{ url_for('view_logs', page=page_num, per_page=post.per_page)}}">{{ page_num }}</a>
								</li>
							{% endif %}
						{% else %}
						...
						{% endif %}
					{% endfor %}
					
					<li class="page-item {{ '' if post.has_prev else 'disabled' }}">
						<a class="page-link" href="{{ url_for('view_logs', page=page-1, per_page=post.per_page)}}">Previous</a>
					</li>
				</ul>
		</div>
	</div>
	<div class="collapse {{ 'show' if open_search == True else '' }}" id="advanced_search">
		<div class="row">
			<div class="col-5 vr">
				<div class="d-flex">
					<h4><b>Search Options</b></h4>
					<a class=" text-primary pt-1 pl-3"  href="{{ url_for('view_logs') }}"> Reset Search Options </a> 
				</div>
				<hr/>
				<div class="row" style="">
					<div class="col">
						<h6 class="text-muted">Records Per Page</h6>
						<select class="form-control-md" type="int" name="pp" id="PerPage">
						  <option {{ 'selected' if pp == 10 }}>10</option>
						  <option {{ 'selected' if pp == 15 }}>15</option>
						  <option {{ 'selected' if pp == 20 }}>20</option>
						  <option {{ 'selected' if pp == 30 }}>30</option>
						</select>
					</div>
					<div class="col">
						<h6 class="text-muted">Order In</h6>
						<select class="form-control-md" type="int" name="ob" id="stype">
							<option {{ 'selected' if ob == "asc" }} value="asc">Ascending Order</option>
							<option {{ 'selected' if ob == "desc" }} value="desc">Descending Order</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col">
				<h4 class="pb-2"><b>Filter Options</b></h4>
				<hr/>
				<div class = "row">
					<div class="col pb-4">
						<h6 class="text-muted">Search Only</h6>
						<select class="form-control-md" type="int" name="sb" id="datesort">
							<option {{ 'selected' if sb == "all" }} value="all">All</option>
							<option {{ 'selected' if sb == "file_code" }} value="file_code">File Code</option>
							<option {{ 'selected' if sb == "comm" }} value="comm">Communication</option>
							<option {{ 'selected' if sb == "sender" }} value="sender">Sender</option>
							<option {{ 'selected' if sb == "receiver" }} value="receiver">Receiver</option>
							<option {{ 'selected' if sb == "subject" }} value="subject">Subject</option>
							<option {{ 'selected' if sb == "processed_by" }} value="processed_by">Processed By</option>
						</select>
					</div>
					
					
					<div class="col">
						<h6 class="text-muted">Show Record Type</h6>
						<select class="form-control-md" type="int" name="sr" id="stype">
							<option {{ 'selected' if show_type == "both" }} value="both">Both</option>
							<option {{ 'selected' if show_type == "sent" }} value="sent">Sent</option>
							<option {{ 'selected' if show_type == "rec" }} value="rec">Receive</option>
						</select>
					</div>
					<div class="col">
						<h6 class="text-muted">Between The Dates Of</h6>
						<div class="form-check form-check-inline">
							<input type="date" name="da" value={{ dates[1] }}>
							
						</div>
						<div class="form-check form-check-inline">
							<input type="date" name="db" value={{ dates[0] }}>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	</form>
	{% include 'child_templates/tables.html' %}
	<hr/>
	
</div>
{% endblock %}

{% block modals %}

{% for post in post %}
<div class="modal fade" id="{{ post.rec_id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Record</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body mod_bod">
				<div class="row">
					<div class="col">
						<b>Date</b>
					</div>
					<div class="col">
						<p>{{ post.datetime }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<b>File/Code</b>
					</div>
					<div class="col">
						<p>{{ post.code }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<b>Communication</b>
					</div>
					<div class="col">
						<p>{{ post.name }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<b>Subject</b>
					</div>
					<div class="col">
						<p>{{ post.subject }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<b>Sent By</b>
					</div>
					<div class="col">
						<p>{{ post.sent_by }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<b>Received By</b>
					</div>
					<div class="col">
						<p>{{ post.received_by }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<b>Processed By</b>
					</div>
					<div class="col">
						<p>{{ post.processed_by }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<b>Document</b>
					</div>
					<div class="col">
						{% if post.image_location != None %}

							<a class="float-right" href="{{ url_for('preview_document', image_name=post.image_location) }}">View Document</a>
						{% else %}
							<div class="float-right">
								<span class="pull-right">
								None
								<i class="far fa-question-circle pt-1" data-toggle="tooltip" title="No image was uploaded when this record was made."></i>
								</span>
							</div>
						{% endif %}
					</div>
				</div>
				<div class="row">
					<div class="col">
						<b>Transaction Receipt</b>
					</div>
					<div class="col">
					{% if post.transaction_location != None %}
							<a class="float-right" href="{{ url_for('preview_document', image_name=post.transaction_location) }}">View Transaction</a>
						{% else %}
							<div class="float-right">
								<span class="pull-right">
								None
								<i class="far fa-question-circle pt-1" data-toggle="tooltip" title="No image was uploaded when this record was made."></i>
								</span>
							</div>
						{% endif %}
					</div>
					
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<form action="{{ url_for('log_delete', rec_id=post.rec_id) }}" method="POST">
					<input type="submit" class="btn btn-danger" value="Archive">
				</form>

			</div>
		</div>
	</div>
</div>

{% endfor %}

{% endblock %}