{% extends "layouts/layout.html" %}
{% block content %}
	<script src="{{url_for('static', filename = 'js/script.js')}}"></script>
	
	<div class="content-section container-fluid" style="padding: 0px;margin-top:-50px" >

		<div class="container background-grey small-content" >

			<form method="POST" action="" enctype=multipart/form-data >	
				{{ form.hidden_tag() }}
				<input type="submit" id="submit-form" hidden />
				<fieldset class="form-group">
					<div class="form-group d-flex">
						<a class="btn btn-danger" href="{{ url_for('view_logs') }}">Cancel</a>
						<a class="btn btn-success ml-2 text-white" data-toggle="modal" data-target="#confirm">Confirm</a>
						<!--<a class="btn btn-info text-white ml-auto" data-toggle="modal" data-target="#confirm">Print Transaction Form</a> -->
					</div>
					
						<legend class="border-bottom mb-4"><b>{{ legend }}</b></legend>
					
					<div class="row pb-3">
						<div class="form-group col-3">
							{{ form.code.label(class="form-control-label font-italic") }}

							{% if form.code.errors %}
								{{ form.code(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.code.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>	
							{% else %}						
								{{ form.code(class="form-control form-control-lg") }}
							{% endif %}
						</div>
						<div class="form-group col">
							{{ form.subject.label(class="form-control-label font-italic") }}

							{% if form.subject.errors %}
								{{ form.subject(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.subject.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>	
							{% else %}						
								{{ form.subject(class="form-control form-control-lg") }}
							{% endif %}
						</div>

					</div>
					<div class="row pb-3">
						<div class="form-group col">
							{{ form.receiver.label(class="form-control-label font-italic") }}

							{% if form.receiver.errors %}
								{{ form.receiver(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.receiver.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>	
							{% else %}						
								{{ form.receiver(class="form-control form-control-lg") }}
							{% endif %}
						</div>
						<div class="form-group col">
							{{ form.sender.label(class="form-control-label font-italic") }}

							{% if form.sender.errors %}
								{{ form.sender(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.sender.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>	
							{% else %}						
								{{ form.sender(class="form-control form-control-lg") }}
							{% endif %}
						</div>

					</div>

					<div class="row pb-3">
						<div class="form-group col-3">
							{{ form.record_type.label(class="form-control-label font-italic") }}
							{% if form.record_type.errors %}
								{{ form.record_type(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.record_type.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>	
							{% else %}						
								{{ form.record_type(class="form-control form-control-lg") }}
							{% endif %}
						</div>
						<div class="form-group col-3">
							{{ form.processed_by.label(class="form-control-label font-italic") }}
							{% if form.processed_by.errors %}
								{{ form.processed_by(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.processed_by.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>	
							{% else %}						
								{{ form.processed_by(class="form-control form-control-lg") }}
							{% endif %}
						</div>
						<div class="form-group col 6">
							<p class="text-dark" style="margin-bottom: 8px">Date (MM-DD-YYYY HH:MM)</p>
							{% if form.date.errors %}
								{{ form.date( class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.date.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>	
							{% else %}						
								{{ form.date(class="form-control form-control-lg", placeholder="MM-DD-YYYY HH:MM") }}
							{% endif %}
						</div>
					
						<div class=" row container">
							
							<div class="col form-group">
								<label><b>Upload Attachments</b></label>
									<i class="far fa-question-circle" data-toggle="tooltip" title="This is the image of the signatures of both departments, needed for confirmation of file sent/received."></i>
								
									
									{% if form.attachment_files.errors %}
										{{ form.attachment_files( class="form-control form-control-lg is-invalid") }}
										<div class="invalid-feedback">
											{% for error in form.attachment_files.errors %}
												<span>{{ error }}</span>
											{% endfor %}
										</div>	
									{% else %}						
										{{ form.attachment_files(class="form-control form-control-lg", multiple=True, allowed="image/*") }}
									{% endif %}
							</div>
						</div>
					</div>
				</fieldset>
				
			</form>
		</div>
	</div>


{% endblock %}

{% block modals %}

	<div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Confirm Addition</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<!--<input type="submit" class="btn btn-success" value="Confirm">-->
					<label class="btn btn-success" for="submit-form" tabindex="0">Confirm Addition</label>
			</div>
		</div>
	</div>
</div>

{% endblock %}