{% extends "layouts/layout.html" %}
{% block content%}
<div class="tall-container"></div>
<div class="container-fluid">
	<div class="row mt-5">
		<div class="container-fluid col d-flex">
			<a href="{{ url_for('settings') }} " class="btn btn-danger">Back</a>
			<h4 class="mx-auto">User Management</h4>
		</div>		
	</div>
	<hr />
	<div class="row">
		<div class="col-4 d-none d-lg-block vr">
			<h5>Permissions</h5>
			<hr />
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Name</th>
						<th scope="col">Description</th>
					</tr>
				</thead>
				<tbody>
					{% for items in perms %}
					<tr>
						<td>{{ items.permission_id }} </td>
						<td>{{ items.name }} </td>
						<td>{{ items.description }} </td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="col-lg-8 col-sm-12">
			<h5>Users</h5>
			<hr />
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Full Name</th>
						<th scope="col">Username</th>
						<th scope="col">Change Password</th>
						<th scope="col">Permissions</th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
					<tr>
						<td>{{ user.user_id }} </td>
						<td>{{ user.full_name }} </td>
						<td>{{ user.username }} </td>
						<td>
							<a href="{{ url_for('change_password', username=user.username) }} ">Change Password</a>
						</td>
						<td> <a href="#" data-toggle="modal" data-target="#{{ user.username+'perms' }} ">View Permissions</a> </td>
					</tr>
					
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

</div>
{% endblock %}

{% block modals %}

	{% for user in users %}
	<div class="modal fade" id="{{ user.username+'perms' }} " tabindex="-1" role="dialog" aria-labelledby="Change Password" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Permissions For <b>{{ user.username }} </b></h5>
					<button  class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal_body">
					
					
				</div>
				<div class="modal-footer">
					<button class="btn btn-dark" data-dismiss="modal">Close</button>
					<button class="btn btn-success">Update</button>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}

{% endblock %}