{% extends "layouts/home.html" %}
{% block content %}

	<div class="content-section">
		<form method="POST" action="">	
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Create Account</legend>
				<div class="form-group">
					{{ form.username.label(class="form-control-label") }}
					{% if form.username.errors %}
						{{ form.username(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.username.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>	
					{% else %}						
						{{ form.username(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.full_name.label(class="form-control-label") }}
					{% if form.full_name.errors %}
						{{ form.full_name(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.full_name.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>	
					{% else %}						
						{{ form.full_name(class="form-control form-control-lg") }}
					{% endif %}
				</div>


				<div class="form-group">
					{{ form.password.label(class="form-control-label") }}
					{% if form.password.errors %}
						{{ form.password(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.password.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>	
					{% else %}						
						{{ form.password(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.password_confirm.label(class="form-control-label") }}
					{% if form.password_confirm.errors %}
						{{ form.password_confirm(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.password_confirm.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>	
					{% else %}						
						{{ form.password_confirm(class="form-control form-control-lg") }}
					{% endif %}
				</div>
			</fieldset>
			<div class="form-group">
				{{ form.submit(class="btn btn-outline-info") }}
			</div>
		</form>
	</div>
	<div class="border-top pt-3">
		<small class="text-muted">
			Already Have An Account? <a class="ml-2" href="{{ url_for('login') }}">Sign In</a>
		</small>
	</div>

{% endblock %}