{% extends "layouts/layout.html" %}
{% block content %}
<div class="container d-flex justify-content-center small-content bg-white">
	<div style="padding-top:40px; padding-bottom:40px">
		<h3 class="">Hello {{ current_user.full_name }}!</h3>
		<hr/>
		<p class="text-center"><a class="text-danger " href="{{ url_for('view_logs')}}">Back To Home Page</a></p>
		<hr/>
		<p class="text-center"><a class="text-primary " href="#">Change Password</a></p>
		<p class="text-center"><a class="text-primary " href="{{ url_for('archives')}}">View All Archives</a></p>
		<p class="text-center"><a class="text-warning " href="{{ url_for('manage_users')}}">Manage System Users</a></p>
	</div>

</div>
{% endblock %}