
/*
 * CSS Page Transitions
 * Don't forget to add vendor prefixes!
 */
  /** Basic styles for an animated element */

.m-scene .scene_element {
    animation-duration: 0.20s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;

  }

  /** An element that fades in */
.m-scene .scene_element--fadein {
    animation-name: fadeIn;
  }

  /** An element that fades in and slides up */
.m-scene .scene_element--fadeinup {
    animation-name: fadeInUp;
  }
.m-scene .scene_element--fadeindown {
    animation-name: fadeInDown;
  }
  /** An element that fades in and slides from the right */
.m-scene .scene_element--fadeinright {
    animation-name: fadeInRight;
  }
.m-scene.is-exiting .scene_element {
    animation-direction: alternate-reverse;
  }
