

}

.mr-6{
  margin-right:110px;
}
.ml-6{
  margin-left:110px;
}
.side_row {
    padding-bottom: 15px;
    padding-top   : 15px;
    padding-right   : 0px;
}
.container-full {
  margin: 0;
  width: 100%;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}


.bg-adu-blue{
  background-color: #003366;
}

.bg-adu-component{
  background-color: #ECECEC;

}

.records_table{
   border-collapse: separate;
   border-spacing: 0 0px;
   
}


@media (max-width: 780px) {
  div.layer_02 > div{
    margin-bottom: 5px;
  }
  .sm-full-width{
    width:100%;
  }
}


tr.bg-adu-component > td,
tr.bg-adu-component > th {
  border-width: 5px;
}

.content:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top:0;
  z-index: -1;
  
  display: block;
  background-image: url('../image/svbldg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.vr{
  padding-right: 20px;
  border-right: 1px solid #ccc;
}
.full_height_container{
  min-height: 100%;
  overflow:hidden;
}
.rounded_image{
    border-radius: 50%;
    height:40px;
}
.txtbox {
  padding: 7px, 0px;
  border: 1px solid #999;
  width: 100%;
}
.login-header {
  font-family: "Times New Roman", Times, serif;
  color:#FFFFFF;
}
.login-text {
  font-family: "Times New Roman", Times, serif;
  color:#052548;

}
.content {
  left: 0;
  right: 0;
  z-index: 0;
}
.small-content{
  border: 1px solid;
  width:700px;
  margin-top:90px;
  display:block;
  box-shadow: #333 0px 0px 20px;
}
.background-grey{
  background-color: #ECECEC;
}

.tall-container {
  height:100vh; 
  top:0%;
  left:0%;
  width:80%;
  z-index: -1;
  margin-left: 10%;
  background-color: white;
  position: fixed;
}
.report_boxes{
  background-color: white;
}

table.modded tr:nth-child(odd) td{
  background-color: #F8F8F8
}


table tr.modded {
  background-color: #495165;
  /*border: 1px solid #ddd;*/
}
table.modded th,
table.modded td {
  text-align: center;

}
table.modded th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.mod_bod  p{
  text-align:right;
}

@media screen and (max-width: 780px) {
  .dissapear{
    display:none;
  }
  table.modded {
    border: 0;
  }
  table.modded thead {
    border: none;
    background-color: #FDFDFD;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table.modded tr {
    border-bottom: 1px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  table.modded td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  table.modded td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  table.modded td:last-child {
    border-bottom: 0;
  }
  .btn-file {
    position: relative;
    overflow: hidden;
  }
  .btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
  }

  #img-upload{
    width: 100%;
  }
}