<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Logging System</title>


		<link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
		<link href="{{url_for('static', filename = 'css/animation.css')}}" rel="stylesheet">
		<link href="{{url_for('static', filename = 'css/animation_classes.css')}}" rel="stylesheet">
		<link href="{{url_for('static', filename = 'css/sticky-footer-navbar.css')}}" rel="stylesheet">
		<link href="{{url_for('static', filename = 'css/styles.css')}}" rel="stylesheet">
		
	</head>
	<body>
		<header>
			
		</header>
		<div class="m-scene" id="main">
			<div class="content"></div>
			<div class="container bg-white m-scene small-content scene_element scene_element--fadeinup" id="main">

				<div style="margin:30px;">
					<div class="d-flex justify-content-center" style="margin-bottom: 5px">
						<img src="{{url_for('static', filename = 'image/l-sciences.jpg')}}" width='100px' height='100px'>
						<img src="{{url_for('static', filename = 'image/adulogo.jpg')}}" width='100px' height='100px'>
						<div>
							<h2 class="login-text">College Of Science</h2>
							<h2 class="login-text">Adamson University</h2>
						</div>
					</div>
					<div style="padding:30px">
						{% block content %} {% endblock %}
						{% with messages = get_flashed_messages(with_categories=true) %}
							{% if messages %}
								{% for category, message in messages %}
									<div class="alert alert-{{ category }}">
										{{ message }}
									</div>
								{% endfor %}
							{% endif %}
						{% endwith %}
					</div>
					
				</div>
			</div>
		</div>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="{{url_for('static', filename = 'js/jquery-3.3.1.min.js')}}"></script>
		<script src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="{{url_for('static', filename = 'css/bootstrap.min.css')}}"></script>
	</body>
</html>