<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
		<link href="{{url_for('static', filename = 'css/sticky-footer-navbar.css')}}" rel="stylesheet">
		<link href="{{url_for('static', filename = 'css/animation.css')}}" rel="stylesheet">
		<link href="{{url_for('static', filename = 'css/animation_classes.css')}}" rel="stylesheet">
		<link href="{{url_for('static', filename = 'css/styles.css')}}" rel="stylesheet">
		<link href="{{url_for('static', filename = 'css/all.css')}}" rel="stylesheet">
		{% block head %} {% endblock %}
		
	</head>
	<body class="bg-adu-background" id="main">
		<div class="m-scene h-100" id="main">
		<header >
			<nav class="navbar fixed-top navbar-expand-lg bg-adu-blue nav2 d-flex scene_element scene_element--fadeindown" style="z-index: 3;">
				
					<div id="navbar-brand">
						
						<div class="container-fluid d-flex">
			        		<img src="{{url_for('static', filename = 'image/l-sciences.jpg')}}" class="mr-3 rounded_image">
							<img src="{{url_for('static', filename = 'image/adulogo.jpg')}}" class='mr-3 rounded_image'>
							<p class="pt-2"><a class="text-white " href="{{ url_for('view_logs') }}">AdU Science Department  Document Logging System</a></p>
						</div>
					</div>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<i class="fas fa-bars text-white"></i>
				</button>
					<div class="collapse navbar-collapse " id = "navbarSupportedContent">
						<div class="navbar-nav ml-auto">
						<div class="d-flex justify-content-center ">
							
							<a href="{{ url_for('settings') }}" class="btn mr-3 btn-primary text-white">Settings</a>
							<a href="{{ url_for('archives') }}" class="btn mr-3 btn-warning text-white">View Archives</a>
							<a href="{{ url_for('generate_reports') }}" class="btn mr-3 btn-success text-white">Generate Reports</a>
							<a href="{{ url_for('logout') }}" class="btn mr-3 btn-danger text-white">Logout</a>
						</div>
						</div>
					</div>
			</nav>
		</header>
		<div class="content"></div>
		<div class="container-fluid scene_element scene_element--fadeinup" style="padding-left: 10%; padding-right: 10%; height:100%; padding-top:65px" id="main">

			{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					{% for category, message in messages %}
						<div class="alert alert-{{ category }} alert-dismissible fade show text-center container mt-3" style="width:50%">
							{{ message }}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					{% endfor %}
				{% endif %}
			{% endwith %}
			
			{% block content %}{% endblock %}

		</div>
		{% block outside %}{% endblock %}
		</div>
		{% block modals %} {% endblock %}
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		
		<script src="{{url_for('static', filename = 'js/jquery-3.3.1.min.js')}}"></script>
		<script src="{{url_for('static', filename = 'js/bootstrap.bundle.min.js')}}"></script>
		<script src="{{url_for('static', filename = 'js/bootstrap.bundle.min.js')}}"></script>
		<script src="{{url_for('static', filename = 'js/jquery-3.3.1.min.js')}}"></script>
		<!-- <script src="{{url_for('static', filename = 'js/jquery.smoothState.min.js')}}"></script>
		<script src="{{url_for('static', filename = 'js/custom.js')}}"></script> -->
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="{{url_for('static', filename = 'css/bootstrap.min.css')}}"></script>

	</body>
</html>