{% block content %}

<div style="overflow: auto; ">
	<table class="table modded" style="margin-top: 10px;">
		<thead>
			<tr class="modded">
				<th class="text-white" scope="col" >Date</th>
				<th class="text-white" scope="col" >File/Code</th>
				<th class="text-white" scope="col" >Communication</th>
				<th class="text-white" scope="col" >Subject</th>
				<th class="text-white" scope="col" >Sent</th>
				<th class="text-white" scope="col" >Received</th>
				<th class="text-white" scope="col" >Processed</th>
				<th class="text-white" scope="col" >Comm. Type</th>
				<th class="text-white" scope="col" >...</th>			
			</tr>
		</thead>
		<tbody>
			{% for post in post %}
			<tr class="bg-adu-component" style="margin-bottom:50px; border-width: 2px">
					<td data-label="Date">{{ post.datetime }}</td>
					<td data-label="File/Code">{{ post.code }}</td>
					<td data-label="Communication">{{ post.name }}</td>
					<td data-label="Subject">{{ post.subject }}</td>
					<td data-label="Sent">{{ post.sent_by }}</td>
					<td data-label="Received">{{ post.received_by }}</td>
					<td data-label="Processed">{{ post.processed_by }}</td>
					<td data-label="Type"><p style="text-transform: uppercase" class="{{ 'text-info' if post.comm_type == 'received' else 'text-primary' }}">{{ post.comm_type }}</p></td>
					<td data-label="More Option"><a href="#"  data-toggle="modal" data-target="#{{ post.rec_id }}">More Options</a></td>
			</tr>

			<!-- Modal -->
			
			{% endfor %}

		</tbody>
	</table>
</div>

{% endblock %}

